.footer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 28px 180px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

li {
  list-style-type: none;
}

.first-content {
  display: flex;
  flex-direction: row;
  gap: 200px;
}

.second-content {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3;
}

.item {
  font-size: 17px;
  font-weight: 400;
  line-height: 2.2;
}

.icon-rede-social {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-rede-social:hover {
  background-color: rgba(112, 112, 112, 0.15);
}

.redes {
  display: flex;
  align-items: center;
  gap: 10px;
}

.google-site-seguro {
  height: 58px;
  margin-top: 10px;
}

.by-instabuy {
  border-bottom: 1px solid #f0eaea;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 30px;
}

.by-instabuy div {
  display: flex;
  flex-direction: column;
  width: max-content;
}

.by-instabuy span {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  padding-bottom: 12px;
}

.logo-instabuy {
  height: 47px;
  width: 250px;
}

.pagamentos {
  display: flex;
  gap: 20px;
  height: 18px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.third-content {
  margin-top: 20px;
}

.info-empresa {
  margin-top: 30px;
}

.info-empresa p {
  line-height: 30px;
}

.mapa-site {
  font-size: 18px;
}
