.container-home {
  padding: 24px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.content-products {
  background-color: #fff;
  height: 390px;
  width: 900px;
  border-radius: 5px;
}

.header-content {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 40px;
}

.ofertas {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ofertas span {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3;
}

.ver-tudo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.ver-tudo span {
  color: #43b02a;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.3;
}

.card-product {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 200px;
  height: 290px;
  scroll-snap-align: start;
  margin-top: 6px;
  cursor: pointer;
}

.content-img {
  position: relative;
  width: 150px;
  height: 180px;
}

.button-add {
  position: absolute;
  width: 48px;
  height: 48px;
  border-style: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  top: 0;
  right: 0;
}

.button-add:hover {
  background-color: #d4d4d4;
}

.img-product {
  width: 158px;
  height: 160px;
  margin-top: 12px;
}

.precos-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 25px;
  margin-top: 6px;
}

.price-active {
  color: #e91e63;
  font-weight: 600;
  font-size: 18px;
}

.price-inactive {
  color: #707070;
  font-weight: 600;
  font-size: 14px;
  text-decoration: line-through;
}

.descricao-product {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  line-height: 1.6;
  padding: 6px 10px;
}

.carousel {
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}

.products {
  display: flex;
  overflow: hidden;
  gap: 52px;
  padding-left: 20px;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  background-color: #43b02a;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}
