<nav class="navbar-normal">
  <div class="start-option">
    <fa-icon class="icon-house" [icon]="faHouseChimney"></fa-icon>
    <span>Início</span>
  </div>

  <div class="all-categories-option">
    <fa-icon class="icon-all-categories" [icon]="faBorderAll"></fa-icon>
    <span>Todas Categorias</span>
  </div>

  <div class="tags-option">
    <fa-icon class="icon-tags" [icon]="faTags"></fa-icon>
    <span>Ofertas</span>
  </div>

  <div class="kit-option">
    <img
      class="icon-grill"
      src="../../../assets/icon-grill.png"
      alt="Ícone de uma churrasqueira"
    />
    <span>Kit Churrasco</span>
  </div>
</nav>
